---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/awesome
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 3f4414d1
      App-Key:
      - 5d7ec26787573a9fce4de2c846db00ca
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "awesome",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Positive",
                                    "type": "Degree"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "awesome",
                                    "text": "awesome"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Adjective",
                            "text": "awesome"
                        }
                    ],
                    "word": "awesome"
                }
            ]
        }
  recorded_at: Wed, 30 May 2018 17:20:20 GMT
[...]
