---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/foxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 3f4414d1
      App-Key:
      - 5d7ec26787573a9fce4de2c846db00ca
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "foxes",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Third",
                                    "type": "Person"
                                },
                                {
                                    "text": "Singular",
                                    "type": "Number"
                                },
                                {
                                    "text": "Present",
                                    "type": "Tense"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
                                    "text": "fox"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Verb",
                            "text": "foxes"
                        },
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Plural",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
                                    "text": "fox"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "text": "foxes"
                        }
                    ],
                    "word": "foxes"
                }
            ]
        }
  recorded_at: Wed, 30 May 2018 15:29:54 GMT
recorded_with: VCR 4.0.0
